
body {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Alegreya Sans', sans-serif;
	height: 100%;
	margin: 0px;
	width: 100%;
}

body * {
	box-sizing: border-box;
}

main {
	background-color: #EDF2F6;
}

h1 {
	color: #707785;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17pt;
	font-weight: 500;
	margin: 15px auto;
	width: 95%;
}

h2 {
	color: #707785;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 14pt;
	font-weight: 500;
}

h4, .page-tab {
	color: #707785;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 12pt;
	font-weight: 500;
}

h4:hover {
	color: #FFFFFF;
}

a {
	color: #46C1F3;
	text-decoration: none;
}

.page-wrapper {
	background-color: #FBFCFD;
	margin: 0 auto;
}

.collapse-nav {
	display: none;
}

.quick-nav {
	background-color: #364053;
	display: flex;
	flex-wrap: wrap;
	height: 190px;
	justify-content: space-around;
}

.search {
	height: 50px;
	margin: 15px auto;
	order: 1;
	width: 90%;
}

.quick-nav .large-icon {
	margin: 30px 5px 0 5px;
}

.main-header {
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
}

.job-title {
	margin-top: 10px;
	width: 100%;
}

.drop-pin {
	margin: 0 auto;
	width: 90%;
}

.drop-pin p, .drop-pin .medium-icon, .tiny-icon, .preview{
	display: inline-block;
	margin: 0;
}

.drop-pin p, .tiny-icon, .preview {
	vertical-align: 63%;
}

.edit-links {
	display: flex;
	flex-direction: wrap;
	justify-content: space-between;
	margin: 15px auto;
	width: 90%;
}

.open-button {
	background-color: #FFFFFF;
	border: .5px solid #B0B8C5;
	border-radius: 20px;
	height: 40px;
	width: 80px;

}

.tab-nav {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

li {
	display: none;
}

li:first-child {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.show-child {
	display: inline-block;
}

.page-tab {
	text-decoration: none;
}

a:hover {
	border-bottom: 3px solid #01AAEF;
}

.graphs {
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
	width: 90%;
}

.percentage-graphs {
	margin: 10px auto;
	text-align: center;
}

.percentage {
	border: 10px solid #01AAEF;
	border-bottom: 10px solid purple;
	border-radius: 100%;
	height: 150px;
	margin: 0 auto 15px auto;
	text-align: center;
	width: 150px;
}

.percentage-number {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 24pt;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 30%;
	padding-bottom: 0;
}

.percentage-label {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	margin: 0;
	padding-top: 1px;
}

figcaption {
	background-color: #FFFFFF;
	border-radius: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	height: 20px;
	margin: 10px auto;
	width: 200px;
}

.percentage-graph-label div {
	margin: 0 5px;
	vertical-align: 12%;
}

.bar-graph-fig {
	text-align: center;
	margin: 10px 0;
	width: 100%;

}
.bar-graph {
	height: 180px;
	margin: 10px 0 5px 0;
	width: 100%;
}


.page-break {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}

hr {
	display: inline-block;
	margin: 40px 0 40px 0;
	width: 40%;
}

.hr-break {
	margin: 25px 10px;
	display: inline-block;
}

table {
	background-color: #FFFFFF;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 10px;
	width: 95%;
}

th {
	font-family:'Alegreya Sans SC', sans-serif;
	font-weight: 500;
	width: 50%;
}
.job-label--heading {
	padding-top: 11px;
}

.table-button {
	align-items: center;
	background-color: #364053;
	border: none;
	color: #FFFFFF;
	display: flex;
	font-family:'Alegreya Sans SC', sans-serif;
	font-weight: 500;
}

tr {
	border-bottom: 1px solid #707D96;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 10px;
	width: 90%;
}

tr:last-of-type {
	border-bottom: none;
}

.table-head {
	background-color: #364053;
	color: #FFFFFF;
	width: 100%;
}

td {
	padding: 10px;
	width: 100%;
}

.job-label {
	color: #364053;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 14pt;
	font-weight: 500;
}

.job-detail {
	color: #364053;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 12pt;
	font-weight: 400;
}

.job-detail img {
	margin-right: 15px;
	vertical-align: -100%;
}

.social-networks {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}

.social-network--label {
	display: none;
}

.facebook {
	background-color: #4771BA;
}

.twitter {
	background-color: #01AAEF;
}

.linkedin {
	background-color: #057CB8;
}

.contact-option {
	border-bottom: 1px solid #707D96;
	margin: 40px 20px;
	width: 90%;
}

.contact-option--image {
	display: inline-block;
	margin: 0 5px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url('../images/icon_sprites_regular.png') no-repeat;
	background-position: -212px -49px;;
	background-size: 539%;
}

.contact-option--image:hover {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url('../images/icon_sprites.png') no-repeat;
	background-position: -212px -49px;
	background-size: 539%;
	background-color: #057CB8;
}

.contact-option--title {
	display: inline-block;
	vertical-align: 70%;
}

.contact-option--text {
	margin-bottom: 5px;
	margin-top: 5px;
}

.copy-text {
	background-color: #FFFFFF;
	display: inline-block;
	height: 30px;
	margin: 20px 0;
	width: 80%;
	vertical-align: 70%;
}

.copy-button {
	border: none;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	width: 18%;
}

.copy-text--input {
	margin-top: 20px;
	width: 100%;
}

.large-icon {
	background: url('../images/icon_sprites_regular.png') no-repeat;
	background-position: -211px -100px;
	background-size: 473%;
	height: 60px;
	width: 60px;
}


.large-icon:hover {
	background: url('../images/icon_sprites.png') no-repeat;
	background-position: -211px -100px;
	background-size: 473%;
	background-color: #01AAEF;
	height: 60px;
	width: 60px;
}

.social-large-icon {
	display: inline-block;
	background: url('../images/icon_sprites_regular.png') no-repeat;
	background-position: -217px -100px;
	background-size: 473%;
	height: 60px;
	width: 60px;
}

.social-large-icon:hover {
	display: inline-block;
	background: url('../images/icon_sprites.png') no-repeat;
	background-position: -217px -100px;
	background-size: 473%;
	background-color: #01AAEF;
	height: 60px;
	width: 60px;
}

.medium-icon {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url('../images/icon_sprites_regular.png') no-repeat;
	background-position: -95px -186px;
	background-size: 539%;
}

.medium-icon:hover {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url('../images/icon_sprites.png') no-repeat;
	background-position: -95px -186px;
	background-size: 539%;
	background-color: #057CB8;
}



.small-icon {
	display: inline-block;
	height: 30px;
	width: 30px;
	background: url('../images/icon_sprites_regular.png') no-repeat;
	background-position: -31px -156px;
	background-size: 699%;
}

.small-icon:hover {
	display: inline-block;
	height: 30px;
	width: 30px;
	background: url('../images/icon_sprites.png') no-repeat;
	background-position: -31px -156px;
	background-color: #057CB8;
	background-size: 699%;
}

.tiny-icon {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: #7C899E;
}

.circle-icon {
	border-radius: 100%;
	margin: 0 5px;
	border: .5px solid #B0B8C5;
}

.quick-nav--icon {
	border: .5px solid #B0B8C5;
}

.quick-nav--icon:hover {
	background-color: #057CB8;
}


@media screen and (min-width: 575px){

	.percentage-graphs {
		margin: 0 auto;
		max-width: 600px;
	}

	.percentage {
		display: inline-block;
		margin: 20px 10px
	}

	.percentage-graph-label {
		margin: 0 auto;
	}

	.bar-graph {
		height: 150px;
		margin: 0 auto 10px auto;

	}

}


@media screen and (min-width:660px){

	.page-wrapper {
		display: flex;
	}

	.collapse-nav {
		display: block;
		background-color: #364053;
		max-width: 175px;
	}

	.profile-pic-block {
		text-align: center;
		margin-top: 30px;
	}

	.profile-pic {
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}

	h4 {
		display: none;
	}

	.regular-case {
		font-family: 'Alegreya Sans', sans-serif;
		display: block;
		padding: 0 5px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.side-nav {
		padding-top: 20px;
		border-top: 1px solid #161a22;
	}

	.side-nav--label {
		display: flex;
		align-items: center;
		padding: 5px 5px;
		height: 40px;
	}

	.side-nav--icon {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: url('../images/icon_sprites_regular.png') no-repeat;
		background-position: -50px -51px;
		background-size: 471%;
	}

	.side-nav--icon:hover {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: url('../images/icon_sprites.png') no-repeat;
		background-position: -50px -51px;
		background-size: 471%;
		background-color: #057CB8;
	}

	.check-one, .check-two, .check-three, .check-four {
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.check-one {
		background-color: yellow;
	}

	.check-two {
		background-color: #057CB8;
	}

	.check-three {
		background-color: orange;
	}

	.check-four {
		background-color: #01AAEF;
	}

	.quick-nav .large-icon {
		margin: 0 0 30px 0;
	}

	.search {
		order: 0;
		min-width: 250px;
		margin: 0 0 30px 0;
		flex-shrink: 8;
	}

	.quick-nav {
		height: auto;
		flex-wrap: nowrap;
		background-color: #FFFFFF;
	}

	.job-title {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 10px;
	}

	h1 {
		min-width: 500px;
		margin: 15px 0 0 0;
	}

	.drop-pin {
		max-width: 265px;
		margin: 15px 0;
	}

	.edit-links {
		max-width: 240px;
		margin: 0 20px 50px 0;
	}

	ul {
		display: flex;
		justify-content: space-between;
	}

	li {
		display: inline-block;
	}

	tr {
		width: 100%;
		border-bottom: 1px solid #707D96;
	}

	.job-label, .job-label--heading {
		width: 30%;
	}

	.job-detail, .job-detail--heading {
		width: 70%;
	}

	.large-icon {
		width: 50px;
		height: 50px;
		background-position: -171px -80px;
	}

	.large-icon:hover {
		width: 50px;
		height: 50px;
		background-position: -171px -80px;
	}

	.medium-icon {
		width: 40px;
		height: 40px;
		background-position: -76px -149px;
	}

	.medium-icon:hover {
		width: 40px;
		height: 40px;
		background-position: -76px -149px;
	}

	.small-icon {
		display: inline-block;
		height: 30px;
		width: 30px;
	}

	.contact-option--image {
		width: 40px;
		height: 40px;
		background-position: -167px -40px;
	}

	.contact-option--image:hover {
		width: 40px;
		height: 40px;
		background-position:-167px -40px;
	}

	.social-large-icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-position: -182px -86px;
	}

	.social-large-icon:hover {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-position: -182px -86px;
	}

	.tab-collapse {
		display: none;
	}


}

@media screen and (min-width: 780px) {

	h4 {
		display: inline-block;
	}

	.bottom-detail {
		display: flex;
	}

	table {
		width: 60%;
		margin-left: 20px;
	}

	.social-nav {
		width: 40%;
		margin-right: 20px;
	}

	.social-networks {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.social-network {
		display: block;
		width: 80%;
		height: 50px;
		margin: 0 auto 15px 20px;
	}


	.social {
		display: inline-block;
	}

	.social-network--label {
		display: inline-block;
		vertical-align: 108%;
		color: #FFFFFF;
	}

	.contact-option {
		margin-top: 0;
		margin-bottom: 15px;
		width: 80%;
	}

	.contact-option:last-of-type {
		border-bottom: none;
	}
}

@media screen and (min-width: 960px) {

	h1 {
		font-size: 24pt;
	}

	.graphs {
		width: 95%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 50px;
	}

	.percentage-graphs {
		display: inline-block;
		margin: 0;
	}

	.bar-graph {
		width: 100%;
	}

	.bar-graph-fig {
		display: inline-block;
		width: 30%;
		margin-right: 20px;
	}
}
